@use "../../../../shared/styles/abstracts/variables" as v;
@use "../../../../shared/styles/abstracts/mixins" as m;

.dashboard {
  .dashboard-container {
    display: flex;
    color: v.$primary-color;
    background-color: v.$expanded-card-color;
    border-radius: v.$border-radius-base;
    gap: 1rem;
    padding: 20px;

    .vertical-line {
      border: 1px dashed v.$secondary-color;
      height: 100vh;
      margin: 1rem 0;
    }

    h4 {
      margin-bottom: 12px;
      margin-top: 2px;
    }
  }
}

@media (max-width: 1024px) {
  .dashboard {
    .dashboard-container {
      flex-direction: column;
      padding: 1rem;

      .vertical-line {
        display: none;
      }
    }
  }
}
