// Colors
$primary-color: #e4e6ea;
$success-color: #37a06e;
$danger-color: #b93b3b;
$warning-color: #e8c25e;
$compact-card-color: #252a3d;
$expanded-card-color: #1e2233;
$secondary-color: #7e808e;
$text-color-blue: #366fce;
$line-color: #283146;
$tab-btn-bg-color: #0c0f17;
$avatar-color: #1e3687;
$bar-fill: #2d3249;
$bar-bg-color: #2d344b;

// Font Sizes
$font-size-base: 11px;
$font-size-icon: 12px;
$font-size-h1: 35px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-action-btn: 12px;
$font-size-th: 10px;
$font-size-tr: 11px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 13px;
$font-size-lg: 16px;
$font-size-xl: 32px;
$font-size-xxl: 40px;

// Font Weight
$font-weight-base: 100;
$font-weight-semi-bold: 400;
$font-weight-bold: 500;

// Border style
$border-radius-base: 1rem;

// Display
$gap-base: 10px;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 1024px;
$breakpoint-desktop: 1280px;
