@use "../../shared/styles/abstracts/variables" as v;

.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  background: #0d0f1a;
  color: v.$primary-color;
}

.dashboard-main {
  display: flex;
  gap: v.$gap-base;
  margin-top: 24px;
}

.left-column,
.center-column,
.quick-actions,
.market-intelligence {
  background: v.$compact-card-color;
  border-radius: v.$border-radius-base;
  padding: 2px 20px 10px 20px;
}

.left-column {
  flex: 9;
}

.center-column {
  flex: 2;
}

.right-column {
  flex: 2.3;
  display: flex;
  flex-direction: column;
  gap: v.$gap-base;
}

.dashboard-accounts {
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  .dashboard-main {
    flex-direction: column;
  }

  .left-column,
  .right-column,
  .quick-actions,
  .market-intelligence {
    min-width: unset;
  }
}
